{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | Honkai Star Ram</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
  </head>
  <body class="w3-light-grey">
    {% include 'layouts/header.html' %}
    {% block content %}
    {% endblock %}

    {% include 'layouts/footer.html' %}
    {% include 'layouts/scripts.html' %}
  </body>
</html>
