<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | Honkai Star Ram</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% include 'layouts/header.html' %}
    <!-- {% block headline %}{% endblock %} -->
    {% block content %}
    {% endblock %}
  </body>
</html>
