{% extends 'core/base.html'%}

{% block title %}Characters{% endblock %}

{% block headline %}<h1>Characters</h1>{% endblock %}


{% block content %}
<div class="filter">
  <form method="GET">
    <ul>
      {% for element in elements %}
      <li>
        <button name="element" value="{{ element.id }}">{{ element }}</button>
      </li>
      {% endfor %}
    </ul>
  </form>
</div>

<div class="in-container">
  {% if not characters %}
    <h1>No Character Found</h1>
  {% else %}
    {% for char in characters %}
      <div class="item">
      <a href="{% url 'character_detail' char.id %}">  
          <div>
            <h2>{{ char.name }}</h2>
          </div>
          <div>
            <p>Element: {{ char.element }}</p>
            <p>Path: {{ char.path }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}
