:root {
  --nav-hover-color: #ebe9e8;
  --medium-gray: #cecece;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Dosis', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* header start */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  padding: 0.8rem;
}

.nav-bar-title {
  font-size: 2rem;
  font-weight: bold;
}

.nav-bar-title a {
  color: white;
}

.nav-bar-title a:hover {
  color: var(--nav-hover-color);
}

.nav-bar-items {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.nav-bar-items li {
  padding-left: 0.5rem;
}

.nav-bar-items li a {
  color: white;
}

.nav-bar-items li a:hover {
  color: var(--nav-hover-color)
}
/* header end */

/* main start */
.main {
  height: 100%;
  width: 100%;
  background-color: var(--medium-gray);
}

.container {
  padding: 2rem;
  text-align: center;
  margin: 0 10rem;
}
.filter form {
  padding: 0 0.3rem;
  color: black;
}
.filter form ul{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.filter form ul li button {
  font-size: 1.5rem;
  padding: 1rem;
}
.filter form ul li button:hover {
  color: #f9f6ee;
}
.in-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: border 0.5s ease;
}
.item:hover {
  color: #808080;
  border: 1px solid white;
}
.item a div {
  color: black;
}
